{% extends 'base.html' %}

{% block body %}
    <div class="container">
        <p>{{ product.name }}</p>
        <!-- کاربری که درخواست داده داخل محصولی که ما گرفتیم و از گت تبجکت فور استفاده کردیم چک کن داخل محصول و فیلد فیوریت آن همه را میگیریم -->
        <!-- که اگر از قبل اضافه کرده بود ریمو را نشان بده و در غیر اینصورت ادد را نشان بده  -->
        {% if request.user in product.favorite.all %}
            <button>
                <a href="{% url 'home:favorite' product.id %}" class="test" >remove</a>
            </button>
        {% else %}
            <button>
                <a href="{% url 'home:favorite' product.id %}" class="test" >add</a>
            </button>
        {% endif %}      
    </div>
    <script>
        // داکیومنت اشاره دارد به صفحه جاری که قرار است یک رویداد اتفاق بیفتد  که ماربر قرار است کلیک کند روی باتن و ممکن است چندتا باتن داشته باشیم
        // که باتن باید یک چیز یونیک داشته باشد مثل ایدی و بعد از متود آن استفاده میکنیم و سه تا پارامتر باید بهش بدیم که اول میگوئیم قرار کلیک رخ بده
        // و اگر بجای کلیک سابمیت داشتیم میگوئیم سابمیت و چک باکس و غیره 
        // پارامتر بعدی مشخص کنیم رویداد کلیک کجا قرار اتفاق بیفته که روی باتن است و ما کلاس دادیم به نام تست به باتن که بهش میدهیم که دات میدهیم به معنای کلاس
        // و اگر ایدی بدهیم باید بجای دات بنویسیم شارپ و بعدی فانکشن میدهیم و یک نام میدهیم بهش به نام ایونت یا هر نام دیگری
        $(document).on('click', '.test', function(event){
            event.preventDefault();// حالا به جیکوئری میگوئیم روی دکمه کلیک کردیم نذار صفحه رفرش بشودکه از پریوانت دیفالت استفاده میکنیم تاصفحه رفرش نشود
            alert('ok')// برای چک کردن اینکه صفحه رفرش نمیشود از یک پیام با دستوذ الرت استفاده میکنیم
            // حالا درخواست ایچکسمان را مینویسیم و اول باید مشخص کنیم این درخواست از طریق چه یو ار الی است
            // که میگوئیم از طریق اتربیویت اچ رف تگ آ ما است که یو ار ال نوشتیم
            //  و بعد باید بگوئیم همین بلاک و کلاس تست که مشخص کردیم از دیس استفاده میکنیم که یعنی همینجا را درنظر بگیر و بعد دات اچ رف
            // و اگر فرم داشتیم میگوئیم اتربیوت اکشن  ولی اینجا میگوئیم اچ رف
            $.ajax({
                url : $(this).attr('href'),
                type : 'GET',// حالا نوع درخواست را مشخص کنیم پست یا گت که اگر پست بود باید سی اس ار اف توکن را هم هندل کنیم 
                // مورد بعدی اگر دیتایی قرار فرستاده بشه مشخص  کنیم چه دیتایی مثلا ای دی کاربر را بگیریم برای ویو و هندل کنیم که الا چیزی نداریم و مانند زیر میکنویسیم
                // و اصلاعات را بصورت سریالایز شده میفرستیم 
                data : $(this).serialize(), // و اگر دیتایی داشتیم داخل دیکشنری میفرستیم
                dataType : 'json', // مورد بعدی مشخص کردن دیتا تایپ است که اختیاری است 

                // حالا اگر پیغام موفقیت آمیز بود یه پیغام و نبود پیغام دیگر
                success : function(responce){
                    alert('ok')
                },
                error : function(error){
                    alert('error')
                },
            });
        });
    </script>
    
{% endblock body %}
       